In [ ]:
def extract_table_names(column_array):
    table_names = set()
    
    for col in column_array:
        if not isinstance(col, str):
            continue
            
        # Split by spaces, newlines and commas to handle multi-line entries
        parts = col.replace('\n', ' ').replace(',', ' ').split()
        
        for part in parts:
            # Look for table.column pattern
            if '.' in part:
                table = part.split('.')[0]
                # Some cleaning to handle edge cases
                table = table.strip("' ")
                if table:
                    table_names.add(table)
    
    return sorted(list(table_names))

def generate_bulk_insert_statement(insert_header,table_names, target_table, source_sis_type="ESP", source_sis_version="sample_tenant_uid_4"):

    # Create each row value
    value_rows = []
    for source_table in table_names:
        value_row = f"('{target_table}', '{source_table}', '{source_sis_type}', '{source_sis_version}')"
        value_rows.append(value_row)
    
    # Join all values with commas and add semicolon at the end
    values_part = ",\n".join(value_rows) + ";"
    
    # Combine header and values
    return insert_header + "\n" + values_part


def execute_sql(sql_statement):
    """
    Execute a SQL statement in Snowflake and return the results.
    Args:
        sql_statement (str): The SQL statement to execute
    Returns:
        list: Results from the query execution
    """
    try:
        # Establish connection to Snowflake
        conn = sf_connection()
        cur = conn.cursor()
        
        # Execute the SQL statement
        cur.execute(sql_statement)
        
        # For SELECT statements, fetch results
        if sql_statement.strip().upper().startswith("SELECT"):
            results = cur.fetchall()
            return results
        else:
            # For INSERT/UPDATE/DELETE statements, return affected row count
            return f"Statement executed successfully. Rows affected: {cur.rowcount}"
            
    except Exception as e:
        return f"Error executing SQL: {str(e)}"
    finally:
        # Close cursor and connection
        if cur:
            cur.close()
        if conn:
            conn.close()

In [ ]:
insert_header = f"""INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING 
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES """

file_path ='/Users/gaurav.adlakha/wks/ess/esp_data_mod.xlsx' 
col_name = 'Eschool'

In [ ]:
import pandas as pd

In [ ]:
xls = pd.ExcelFile(file_path)
xls.sheet_names

['Students',
 'Re-enrollment',
 'Immunization',
 'Historical_Grades',
 'Test Scores',
 'Staff_Teacher',
 'Courses',
 'Section',
 'Section Enrollment',
 'Rooms']

In [ ]:
def process_excel_for_sql(file_path, col_name, source_sis_type="ESP", source_sis_version="sample_tenant_uid_4"):
    "Process Excel file to generate and execute SQL statements for table mapping"
    xls = pd.ExcelFile(file_path)
    insert_header = """INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING 
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES """
    results = {}
    
    for sis_table in xls.sheet_names:
        df = pd.read_excel(file_path, sheet_name=sis_table)
        table_names = extract_table_names(df[col_name].values)
        table_names = [name.replace('REG_ENTRY_WITH', 'REG_ENTRY_WITHDRAWL') for name in table_names]
        print(table_names)
        sql = generate_bulk_insert_statement(insert_header, table_names, sis_table, source_sis_type, source_sis_version)
        print(sql)
        # results[sis_table] = execute_sql(sql) if table_names else "No tables found"
    
    return results

In [ ]:
test_result = process_excel_for_sql('esp_data_mod.xlsx', 'Eschool')

['REG', 'REG2', 'REGTB_RELATION', 'REG_ACADEMIC', 'REG_CONTACT', 'REG_CONTACT_PHONE', 'REG_ENTRY_WITHDRAWL', 'REG_NEXT_YEAR', 'REG_PERSONAL', 'REG_PERSONAL3', 'REG_STU_CONTACT']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Students', 'REG', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG2', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REGTB_RELATION', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_ACADEMIC', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_CONTACT', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_CONTACT_PHONE', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_ENTRY_WITHDRAWL', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_NEXT_YEAR', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_PERSONAL', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_PERSONAL3', 'ESP', 'sample_tenant_uid_4'),
('Students', 'REG_STU_CONTACT', 'ESP', 'sample_tenant_uid_4');
['REG', 'REG_ENTRY_WITHDRAWL']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Re-enrollment', 'REG', 'ESP', 'sample_tenant_uid_4'),
('Re-enrollment', 'REG_ENTRY_WITHDRAWL', 'ESP', 'sample_tenant_uid_4');
['MEDTB_EXEMPT', 'MED_SERIES_DET', 'REG', 'REG_IMMUNIZATION']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Immunization', 'MEDTB_EXEMPT', 'ESP', 'sample_tenant_uid_4'),
('Immunization', 'MED_SERIES_DET', 'ESP', 'sample_tenant_uid_4'),
('Immunization', 'REG', 'ESP', 'sample_tenant_uid_4'),
('Immunization', 'REG_IMMUNIZATION', 'ESP', 'sample_tenant_uid_4');
['MR_LEVEL_DET', 'MR_STU_MARKS', 'MR_STU_MP', 'REG_BUILDING', 'REG_ENTRY_WITHDRAWL', 'REG_MP_WEEKS', 'SCHD_COURSE_GPA', 'SCHD_MS', 'SCHD_MS_SESSION']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Historical_Grades', 'MR_LEVEL_DET', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'MR_STU_MARKS', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'MR_STU_MP', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'REG_BUILDING', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'REG_ENTRY_WITHDRAWL', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'REG_MP_WEEKS', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'SCHD_COURSE_GPA', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'SCHD_MS', 'ESP', 'sample_tenant_uid_4'),
('Historical_Grades', 'SCHD_MS_SESSION', 'ESP', 'sample_tenant_uid_4');
['disc_stu_rollover', 'med_growth', 'med_physical', 'med_referral', 'reg_entry_with', 'schd_unscanned']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Test Scores', 'disc_stu_rollover', 'ESP', 'sample_tenant_uid_4'),
('Test Scores', 'med_growth', 'ESP', 'sample_tenant_uid_4'),
('Test Scores', 'med_physical', 'ESP', 'sample_tenant_uid_4'),
('Test Scores', 'med_referral', 'ESP', 'sample_tenant_uid_4'),
('Test Scores', 'reg_entry_with', 'ESP', 'sample_tenant_uid_4'),
('Test Scores', 'schd_unscanned', 'ESP', 'sample_tenant_uid_4');
['REG_STAFF', 'REG_STAFF_ADDRESS', 'REG_STAFF_BLDGS2']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Staff_Teacher', 'REG_STAFF', 'ESP', 'sample_tenant_uid_4'),
('Staff_Teacher', 'REG_STAFF_ADDRESS', 'ESP', 'sample_tenant_uid_4'),
('Staff_Teacher', 'REG_STAFF_BLDGS2', 'ESP', 'sample_tenant_uid_4');
['SCHD_COURSE', 'SCHD_COURSE_SUBJ']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Courses', 'SCHD_COURSE', 'ESP', 'sample_tenant_uid_4'),
('Courses', 'SCHD_COURSE_SUBJ', 'ESP', 'sample_tenant_uid_4');
['REG_STAFF', 'SCHD_COURSE', 'SCHD_MS', 'SCHD_MS_CYCLE', 'SCHD_MS_MP', 'SCHD_MS_SESSION']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Section', 'REG_STAFF', 'ESP', 'sample_tenant_uid_4'),
('Section', 'SCHD_COURSE', 'ESP', 'sample_tenant_uid_4'),
('Section', 'SCHD_MS', 'ESP', 'sample_tenant_uid_4'),
('Section', 'SCHD_MS_CYCLE', 'ESP', 'sample_tenant_uid_4'),
('Section', 'SCHD_MS_MP', 'ESP', 'sample_tenant_uid_4'),
('Section', 'SCHD_MS_SESSION', 'ESP', 'sample_tenant_uid_4');
['SCHD_MS', 'SCHD_STU_COURSE', 'SCHD_STU_CRS_DATES', 'SECTIONCOURSESESSIONTERM']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Section Enrollment', 'SCHD_MS', 'ESP', 'sample_tenant_uid_4'),
('Section Enrollment', 'SCHD_STU_COURSE', 'ESP', 'sample_tenant_uid_4'),
('Section Enrollment', 'SCHD_STU_CRS_DATES', 'ESP', 'sample_tenant_uid_4'),
('Section Enrollment', 'SECTIONCOURSESESSIONTERM', 'ESP', 'sample_tenant_uid_4');
['REG_ROOM']
INSERT INTO PSESSENTIALS.SG_ESPSTAGING2.TABLES_IDENTIFIED_DATA_MAPPING
(TARGET_TABLE, IDENTIFIED_SOURCE_TABLE, SOURCE_SIS_TYPE, SOURCE_SIS_VERSION)
VALUES
('Rooms', 'REG_ROOM', 'ESP', 'sample_tenant_uid_4');